<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Teams</strong>
      </c-card-header>
      <c-card-body>
        <p class="text-body-secondary small">
          Click the accordions below to expand/collapse the accordion content.
        </p>

        @for (team of teams; track team.group_name; let i = $index) {
          <c-accordion [alwaysOpen]="false" class="shadow rounded-2">
            <c-accordion-item #item0="cAccordionItem" [visible]="false">
              <ng-template cTemplateId="accordionHeaderTemplate">
                <button (click)="item0.toggleItem()" [collapsed]="!item0.visible" cAccordionButton>
                  {{team.group_name}}
                </button>
              </ng-template>
              <ng-template cTemplateId="accordionBodyTemplate">
                <div [innerHTML]="getAccordionBodyText('first')" class="accordion-body"></div>
              </ng-template>
            </c-accordion-item>
          </c-accordion>
        }

      </c-card-body>
    </c-card>
  </c-col>
</c-row>
