@for (church of churches; track church.row; let i = $index) {
  <c-row ngPreserveWhitespaces>
    @for (c of church.content; track c.church; let j = $index) {
      <c-col xs="3">
        <c-card class="mb-2" id="AngularButton">
          <c-card-header>
            <strong>{{ c.church_name }}</strong>
          </c-card-header>
          <c-card-body>
            <p class="text-body-secondary small">
              CoreUI includes a bunch of predefined buttons components, each serving its own
              semantic purpose. Buttons show what action will happen when the user clicks or touches
              it. CoreUI buttons are used to initialize operations, both in the background or
              foreground of an experience.
            </p>
          </c-card-body>
        </c-card>
      </c-col>
    }
  </c-row>
}
